*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(7, 7, 7);
  display: flex;
  justify-content: center;

  // margin-top: 6rem;
}

main {
  font-size: 5rem;
  color: white;
  text-align: center;

  & .reset {
    background-color: rgb(165, 163, 163);
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    outline: 1px solid gray;
    outline-offset: 3px;
    cursor: pointer;
    margin: 3rem 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover {
      opacity: 0.7;
    }
  }

  & .start{
    
    @extend .reset;
    color: green;
    background-color: rgb(66, 92, 66);
    outline: 1px solid rgb(66, 92, 66);
    // margin-left: 1rem

  }

  & .dur{

    @extend .reset;
    color: red;
    background-color: rgb(224, 85, 85);
    outline: 1px solid rgb(235, 104, 104);
}


& #tour{

    list-style-type: none;
  
    font-size: 1.5rem;
    

    & li{

        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(161, 161, 161);
        border-bottom: 1px solid rgb(161, 161, 161);
        padding: .4rem;
    }
}
}


.container {
  position: relative;
  padding: 2rem;
}

.clock{

  width: 350px;
  height: 350px;
  background-color: black;
  margin: auto;
  border-radius: 50%;
  outline: 5px solid rgb(240, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
 
  & .wrapper{

    position: relative;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;

    & .number-hours{

      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      & span{

        position: absolute;
        transform:rotate(calc(var(--index)* 30deg));
        inset:6px;
        text-align: center;
       

        & p{

          transform:rotate(calc(var(--index)* -30deg));
          font-size: 1.6rem;
        }

      }
    

    }

    & .clock-bar-seconds span{

      position: absolute;
      transform:rotate(calc(var(--index) * 6deg));
      inset: -18px;
      text-align: center;

     
      & p{

        display: inline-block;
        // width: 4px;
        // height: 15px;
        background-color: white;
        transform: translateY(1px);
      
        font-size: 5px;

       
      }

     
    }


    & .clock-hands{



      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      & .hand{
        position: absolute;
        display: flex;
        justify-content: center;

        & i{

          display: inline-block;
          transform-origin: bottom;
          border-radius: 8px;
        }
      }


      & .sec {

        width: 40px;
        height: 40px;


        & i{

          width: 4px;
          height: calc(128px + 60px);
          background-color: orange;
        }
      }
    }


   
  }
  
}



.clock-bar-seconds span:nth-child(5n) p{
  width: 6px;
  height: 10px;
  background-color: rgb(119, 118, 118);

}

.clock-hands .sec::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY( -50%);
  width: 16px;
  height: 16px;
  background-color:orange;
  // border: 4px solid orange;;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  }